<!DOCTYPE html>
<html lang="en">
<head>
     <center> <h1>WELCOME TO MAIN PAGE</h1></center>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body style="background-color:powderblue;">
<h3><a href="{%url 'app1:student_reg' %}">Student Registration</a></h3>
<h3><a href="{%url 'app1:staff_reg' %}">Staff Registration</a></h3>
<h3><a href="{%url 'app1:course_list'  %}">Student list</a></h3>
<h3><a href="{%url 'app1:staff_course'  %}">Staff list</a></h3>


<h2><a href="{%url 'app1:course'  %}">courses</a></h2>

</body>
</html>