<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<center>STUDENT REGISTRATION</center>
<form action="." method="post" enctype="multipart/form-data">
    {% csrf_token %}
         name: <input type="text" name=" name" ><br>
         email: <input type="text" name=" email"><br>
         qualification: <input type="text" name=" qualification" ><br>
        mobile: <input type="text" name=" mobile" ><br>
        Batch: <input type="text" name=" batch" ><br>
        status: <input type="text" name=" status" ><br>
        course:<br>
    {% for team in course %}
        &#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;
<!--    <select name="course">-->
<!--        <option value="{{ team.id }}">{{team.name}}</option>-->
<!--    </select>-->
    <input type="radio" name="team"  value="{{ team.id }} " />
    {{team.name}} <br />
    {% endfor %}

     <input type="submit" value="save "/><br>
    <a href="/institute/">back</a>


</form>

</body>
</html>